<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <meta content="" name="author" />

    <title>To Do Fancy</title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="/assets/js/fbsdk.js"></script>
  </head>
  <body>
    <div id="app">
      <header class="ui attached stackable menu">
        <nav class="ui container">
          <a href="" class="item"><i class="dashboard icon"></i>Dashboard</a>
          <a href="" class="item"><i class="tasks icon"></i>My Tasks</a>
          <a href="" class="item"><i class="history icon"></i>History</a>
          <a href="" class="item"><i class="archive icon"></i>Archive</a>
          <div class="right item">
            <div v-if="fbaccesstoken">
              <button class="ui basic button none-shadow" @click="removeToken">Logout</button>
              <button class="ui basic button">Profile</button>
            </div>
            <div v-else="fbaccesstoken">
              <button class="ui basic button none-shadow" @click="loginModal">Login</button>
              <button class="ui basic button">Signup</button>
            </div>
          </div>
        </nav>
      </header>

      <main class="ui center aligned container">
        <div class="ui equal width celled stackable grid">
          <section class="sixteen wide column">
            <h2 class="ui header">Hi, Zuhri.</h2>
            <p>What is your main focus for today?</p>
          </section>
          <div class="row">
            <div class="column">
              <button class="ui labeled icon button">
                <i class="filter icon"></i>
                Filter
              </button>
            </div>
            <div class="ten wide column">
              <div class="ui category search">
                <div class="ui fluid icon input">
                  <input class="prompt" type="text" placeholder="Search...">
                  <i class="search icon"></i>
                </div>
                <div class="results"></div>
              </div>
            </div>
            <div class="column">
              <button class="ui right labeled icon button">
                <i class="right plus icon"></i>
                Add Task
              </button>
            </div>
          </div>
          <todo-list v-for="(task, index) in tasks" :key="index" :task="task" @task-action="completed"></todo-list>
        </div>
      </main>

      <footer class="ui center aligned container">
        <div class="ui celled three column grid">
          <section class="column">
            <h4>Footer 1</h4>
            <figure>
              <img src="" alt="Zuhri Nurhuda Profile Picture" class="img-profile">
              <figcaption>Zuhri Nurhuda</figcaption>
            </figure>
            <p></p>
          </section>

          <section class="column">
            <h4>Footer 2</h4>
            <p></p>
          </section>

          <section class="column">
            <h4>Footer 3</h4>
            <p></p>
          </section>
        </div>
      </footer>

      <div class="ui mini modal">
        <i class="close icon"></i>
        <div class="content">
          <button class="fluid ui facebook button" onclick="FBLogin()">
            <i class="facebook icon"></i>
            Login With Facebook
          </button>
          <div class="ui horizontal divider">
            Or
          </div>
          <form class="ui form">
            <div class="field">
              <!-- <label>Username</label> -->
              <input type="text" name="first-name" placeholder="Username" v-model="datalogin.username">
            </div>
            <div class="field">
              <!-- <label>Password</label> -->
              <input type="text" name="last-name" placeholder="Password" v-model="datalogin.password">
            </div>
            <button class="fluid ui button" type="submit" @click="login">Login</button>
          </form>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <script type="text/javascript" src="/assets/js/vue/child-todo-list.js"></script>
    <!-- <script type="text/javascript" src="/assets/js/vue/child-todo-item.js"></script> -->
    <script type="text/javascript" src="/assets/js/vue/parent.js"></script>
  </body>
</html>
